@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  --color-cobalt: #3e86c6;
  --color-coral: #fc815a;
  --color-charcoal: #111212;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-sans);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}
